<div class="wallet-wrapper">
  <ng-container *ngIf="true">
    <div class="wallet">
      <div class="wallet-card">
      <p>Card 1</p>
      </div>
      <div class="wallet-line"></div>
      <div class="wallet-card">
        <p>Card 2</p>
      </div>
      <div class="wallet-line"></div>
      <div class="wallet-card">
        <p>Card 3</p>
      </div>
      <div class="wallet-line"></div>
      <div class="wallet-body">
        My wallet name here
      </div>
    </div>
  </ng-container>
  <button type="button" class="btn btn-outline-primary">Share wallet</button>
</div>
